@use '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100vh;
}

.content-page {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('https://res.cloudinary.com/dxmi0j9yh/image/upload/v1746571857/bg-image.png');
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.5rem;
}