@import '~bootstrap/scss/bootstrap';

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.content-page {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
}

@media screen and (max-width: 512px) {
  .content-page {
    background-color: #494949;
  }
}